<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>App Sec Demo</display-name>

	<listener>
		<listener-class>com.johnnking.appsecdemo.listeners.Listener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.johnnking.appsecdemo.servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.johnnking.appsecdemo.servlets.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>com.johnnking.appsecdemo.servlets.AddUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUser</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>com.johnnking.appsecdemo.servlets.ForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>com.johnnking.appsecdemo.servlets.ChangePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddComment</servlet-name>
		<servlet-class>com.johnnking.appsecdemo.servlets.AddComment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddComment</servlet-name>
		<url-pattern>/AddComment</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteComment</servlet-name>
		<servlet-class>com.johnnking.appsecdemo.servlets.DeleteComment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteComment</servlet-name>
		<url-pattern>/DeleteComment</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
		     <param-name>jersey.config.server.provider.packages</param-name>
		     <param-value>com.johnnking.appsecdemo.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>com.johnnking.appsecdemo.filters.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.johnnking.appsecdemo.filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/addMod.jsp</url-pattern>
		<url-pattern>/AddUser</url-pattern>
	</filter-mapping>

	<!--
	<listener>
		<listener-class>org.owasp.csrfguard.CsrfGuardServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.owasp.csrfguard.CsrfGuardHttpSessionListener</listener-class>
	</listener>
	<context-param>
		<param-name>Owasp.CsrfGuard.Config</param-name>
		<param-value>WEB-INF/Owasp.CsrfGuard.properties</param-value>
	</context-param>
	<servlet>
		<servlet-name>JavaScriptServlet</servlet-name>
		<servlet-class>org.owasp.csrfguard.servlet.JavaScriptServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaScriptServlet</servlet-name>
		<url-pattern>/JavaScriptServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CSRFGuard</filter-name>
		<filter-class>org.owasp.csrfguard.CsrfGuardFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CSRFGuard</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
</web-app>